@using MGVGBlog.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BLOG</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <h4><small>RECENT POSTS</small></h4>
    <hr />
    @foreach (var text in ViewBag.lastPosts)
    {
        <div class="col-md-4">
            <h2>@text.Title</h2>
            <span class="glyphicon glyphicon-time"></span>
            <span>
                <small>
                    Posted on <i>@text.Date.ToString("dd MMM yyyy")</i>
                    by: <a href="/ApplicationUsers/Details/@text.Author.Id">@text.Author.UserName</a>
                </small>
            </span>
            <hr/>
            <br/>
            <p>
                @MGVGBlog.Classes.Utils.CutText(text.Body, 300)
                <a href="/Posts/Details/@text.Id">Read more</a>
            </p>
        </div>
    }
</div>